
body, input, button, textarea, select {
    font-size: 16px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

a, input {
    outline: 0;
}

html {
    overflow-y: scroll;
}
html, body {
    height: 100%;
}
#wrap {
    margin-bottom: -128px;
    min-height: 100%;
    height: auto !important;
}
#header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
}
#footer {
    height: 128px;
}
#container {
    padding: 48px 0 136px 0;
}

#header .wrap {
    position: relative;
    margin: auto;
    text-align: right;
}
h1 {
    position: absolute;
    top: 0;
    left: 0;
}
h1 a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-size: 26px;
    line-height: 40px;
}
#footer .wrap, #container {
    margin: auto;
}

#header {
    background: hsl(180, 40%, 87%);
}
#footer {
    background: hsl(180, 40%, 40%);
}
#header .wrap, #footer .wrap, #container {
    width: 676px;
}
#footer {
    color: #fff;
    font-size: 14px;
}
#footer .wrap {
    position: relative;
    height: 128px;
}
#footer .wrap div {
    position: absolute;
    right: 0;
    bottom: 16px;
}
#footer a {
    display: inline-block;
    margin: 16px 16px 0 0;
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}